.App{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  width:100%x;
  height:120px;
  background-color: HSL(123, 28.8%, 87.36%);
  font-family: Gadugi;
  font-weight: normal;
  font-size: 15px;
  color: #8f8f8f;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.login{
  align-self: flex-end;
  margin: 0px 15px 10px 0px;
  cursor: pointer;
}

.join{
  width: 100%;
  height: 21px;
  background: HSL(350, 10%, 63%);
  text-align: center;
  font-family: Gadugi;
  font-weight: normal;
  font-size: 15px;
  color: white;
  padding: 7px;
  cursor: pointer;
}

.join:hover{
  background: HSL(350, 10%, 70%);
}

.triangle{
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid white;
  display: inline-block;
}

.mainSearch {
  width: 900px;
  height: 100%;
  margin: 20px;
  align-self: center;
  background: HSL(54, 100%, 93.5%);
  border: 0.5px solid #707070;
}

.intro {
  display: flex;
  flex-direction: column;
}

.dottedRow{
  align-self: center;
  width: 95%;
  height: 1px;
  border: none;
  border-top: 2px dotted #ab999c;
}