.button {
    align-items: center;
    border: 3px solid HSL(0, 0%, 90%);
    cursor: pointer;
    display: flex;
    font-size: 1.5em;
    height: 30px;
    justify-content: center;
    position: relative;
    width: 30px;
    background-color: lightpink;
    border-radius: 12px;

}
.row {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 500px;
    flex-wrap: wrap;
}
.row input {
    display: none;
}
.row input:checked + .button {
    border: 3px solid HSL(123, 31%, 73%);
    background-color: HSL(123, 31%, 73%);
    color: #7989a4;
}
.screen {
    align-items: center;
    width: 600px;
    height: 200px;
    padding: 10px;
}