body {
  margin: 0;
  font-family: Gadugi;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  color: HSL(0, 0%, 56%);
}
h1{
  font-family: Calibri;
  font-weight: bold;
  font-size: 30px;
  color: #000;
}

input{
  font-family: "Courier New";
  padding: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: HSL(123, 31%, 73%);
  border: none;
  color: white;
  padding: 15px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

select {
  max-width: 250px;
  min-width: 150px;
  border: 1px solid HSL(0, 0%, 10%);
  border-radius: 2px;
  padding: 10px;
  font-size: 14px;
  font-family: "Courier New";
  color: HSL(0, 0%, 0%);
}