:root {
  --font: Gadugi;
  --font2: Courier New;
}

body {
  margin: 0;
  font-family: var(--font);
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  color: HSL(0, 0%, 56%);
}

h1{
  font-family: Calibri;
  font-weight: bold;
  font-size: 30px;
  color: #000;
}

input{
  font-family: var(--font2);
  padding: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: HSL(123, 31%, 73%);
  border: none;
  color: white;
  padding: 15px 15px 10px 10px;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 12px;
  width: max-content;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
button:hover{
  background-color: HSL(123, 31%, 68%);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.16);

}

select {
  max-width: 250px;
  min-width: 150px;
  border: 1px solid HSL(350, 10%, 80%);
  border-radius: 2px;
  padding: 10px;
  font-size: 14px;
  font-family: var(--font2);
  color: HSL(0, 0%, 0%);
  margin-left: 10px;
}

#littleRainbow {
  mix-blend-mode: multiply;
}
