.Login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.loginWrapper {
    width: 100%;
}

.dottedRowVert{
    align-self: center;
    height: 95%;
    width: 1px;
    border: none;
    border-left: 2px dotted #ab999c;
}

.ProfilePage{
    font-family: "Courier New";
    font-size: 18px;
}