.Login {
    border: 3px solid HSL(0, 0%, 80%);
    background-color: HSL(0, 0%, 99%);
    width: 600px;
    height: 450px;
    border-radius: 12px;
    flex-wrap: wrap;
    display: inline-flex;
}

.Panel {
    width: 220px;
    flex-wrap: wrap;
    display: inline-flex;
    border-radius: 12px;
}