/*This file contains all CSS concerning the login and profile page
*/
.Login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.loginWrapper {
    width: 100%;
}

.dottedRowVert{
    align-self: center;
    height: 95%;
    width: 1px;
    border: none;
    border-left: 2px dotted #ab999c;
}

.ProfilePage{
    font-family: var(--font2);
    font-size: 18px;
}

@media screen and (max-width: 576px) {
    .Login {
        flex-direction: column;
    }

    .dottedRowVert {
        display: none;
    }

}