/*This file contains all CSS concerning the search results*/

/*Result table*/
.resultWrapper{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

#babyNames {
    border-collapse: collapse;
    width: 60%;
    font-family: var(--font2);
}

#babyNames tr:hover {
    background-color: #ddd;
}

#babyNames th {
    border:none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 60% 60% 0% 0%;
    background-color: HSL(123, 31%, 73%);
    color: white;
}

#babyNames tr{
    border-bottom: solid 1px;
}
#babyNames td:hover {
    cursor: pointer;
}

/*hart button for saving name*/
#hartje{
    width: 40px;
}

#hartje:hover  {
    cursor: pointer;
    opacity: 80%;
}
