/*This file contains all CSS for the search panel and filtering options*/

.mainWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: HSL(54, 100%, 93.5%);
    border: 0.5px solid #707070;
    margin-bottom: 30px;
    padding: 10px 20px 30px 20px;
}

#searchPanel{
    width: 73%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lettersButton{
    background-color: HSL(123, 31%, 73%);
    border: solid 0.5px HSL(350, 10%, 80%);
    height: 35px;
    width: 35px;
    color: #ffffff;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin: 5px;
    box-shadow: none;
}

/*link for more or less filters*/

.filtersWrapper{
    background-color: transparent;
    text-align: right;
    width: 65%;
    margin-top: -15px;
    align-self: center;
}

#filters{
    display: none;
}

#filters+ label{
    cursor: pointer;
}

#filters+ label::after{
    content: "";
    font-size: 18px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    display: inline-block;
    border-bottom: 12px solid;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

#filters:checked + label::after{
    transform: rotate(180deg);
    transition: transform 0.3s;
}

/*results for more filters*/
.specificSearch{
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: var(--font2);
    margin: 10px;
}
.lettersWrapper {
    width: 405px;
    padding: 10px;
    display: inline-block;
}

/*letters for specific filtering*/
.lettersCheckbox {
    border: 1px solid HSL(350, 10%, 80%);
    background-color: HSL(354, 44%, 66.5%);
    font-size: 14px;
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    cursor: pointer;
    margin: 1px;

}

.lettersCheckbox:hover{
    background-color: HSL(354, 44%, 60%);
}

/*row with Letters*/
.ABCrow {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.ABCrow input {
    display: none;
}
.ABCrow input:checked + .lettersCheckbox {
    background-color: HSL(0, 0%, 44%);
}

.nameSearch{
    width: 400px;
    border-radius: 12px;
    font-size: 20px;
    margin: 20px;
}


/*sizes to make app views on mobile phone*/
@media screen and (max-width: 576px) {
    #searchPanel {
        width: 100%;
    }

    .nameSearch {
        width: 100%;
        font-size: 14px;
        margin: 0 0 20px 0;
    }

    .specificSearch{

        font-size: 14px;
        margin: 10px 0;
    }

    .lettersWrapper {
        width: 90%;
    }
}