.searchWrapper{
    display: flex;
    flex-direction: column;
}

.searchPanel{
    width: 625px;
    height: 100%;
    background: transparent;
    align-self: center;
}

.specificSearch{
    width: 400px;
    height: 100%;
    border-radius: 12px;
    font-size: 20px;
    margin: 20px;
}

.lettersButton{
    background-color: HSL(123, 31%, 73%);
    border: solid 0.5px HSL(350, 10%, 80%);
    height: 35px;
    width: 35px;
    color: white;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    margin: 5px;
}

.lettersCheckbox {
    align-items: center;
    border: 3px solid HSL(0, 0%, 90%);
    cursor: pointer;
    display: flex;
    font-size: 1em;
    height: 30px;
    justify-content: center;
    position: relative;
    width: 30px;
    background-color: lightpink;
    border-radius: 12px;
}
.ABCrow {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: solid 1px;
    flex-wrap: wrap;
}
.ABCrow input {
    display: none;
}
.ABCrow input:checked + .lettersCheckbox {
    border: 3px solid HSL(123, 31%, 73%);
    background-color: HSL(123, 31%, 73%);
    color: #7989a4;
}
.screen {
    align-items: center;
    width: 600px;
    height: 200px;
    padding: 10px;
}


.nameSearch{
    width: 400px;
    border-radius: 12px;
    font-size: 20px;
    margin: 20px;
}


/*Result table*/

#babyNames {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 15%;
    justify-self: center;
    margin-bottom: 0;
    display: inline-flex;
}

#babyNames td, #babyNames th {
    border: 1px solid #ddd;
    padding: 15px;
}

#babyNames tr:nth-child(even){background-color: #f2f2f2;}

#babyNames tr:hover {
    background-color: #ddd;
}

#babyNames th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: HSL(123, 31%, 73%);
    color: white;
}

#babyNames td:hover {
    cursor: pointer;
}


