#babyNames {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 15%;
    justify-self: center;
    margin-bottom: 0;
    display: inline-flex;
}

#babyNames td, #babyNames th {
    border: 1px solid #ddd;
    padding: 15px;
}

#babyNames tr:nth-child(even){background-color: #f2f2f2;}

#babyNames tr:hover {
    background-color: #ddd;
}

#babyNames th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: HSL(123, 31%, 73%);
    color: white;
}

#babyNames td:hover {
    cursor: pointer;
}

select {
    max-width: 250px;
    min-width: 150px;
    border: 1px solid HSL(0, 0%, 10%);
    border-radius: 2px;
    padding: 10px;
    font-size: 14px;
    font-family: "Courier New";
    color: HSL(0, 0%, 0%);
}

.nameSearch{
    width: 400px;
    border-radius: 12px;
    font-size: 20px;
    margin: 20px;
}

#searchPanel{
    border: 3px solid HSL(0, 0%, 80%);
    background-color: HSL(0, 0%, 90%);
    width: 600px;
    height: 750px;
    flex-wrap: wrap;
    display: inline-flex;
    border-radius: 12px;
}